/**********************
GENERAL
**********************/


/**********************
TOP MENU
**********************/
.top-nav-flexContainer{
  background-color: slategray;
  display: flex;
  flex-direction: row-reverse;
}
.top-nav-item{
  padding: 10px;
}
.top-nav-item img:hover{
  background-color: rgba(177, 187, 192, 0.767);
  border-radius: 10px;
  transition-duration: 0.6s;
  
}
#images,#gmail{
padding-top: 14px;
color: azure;
}
#images:hover,#gmail:hover{
  text-decoration: underline;
}

/**********************
GOOGLE LOGO
**********************/
.google-logo{
  max-width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding-top: 109px;
}
